<h1 mat-dialog-title>Task manager</h1>
<div mat-dialog-content>
  <h3 *ngIf="status == 'new'">Add your new task here</h3>
  <h3 *ngIf="status == 'progress'">Task in progress...</h3>
  <h3 *ngIf="status == 'done'">Already done with...</h3>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>New Task</mat-label>
    <input matInput [(ngModel)]="data.taskName" class="dialog-input">
    <button *ngIf="data.taskName" matSuffix mat-icon-button aria-label="Clear" (click)="data.taskName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-button (click)="addDescription()" *ngIf="!description">
    <mat-icon>add</mat-icon>
    <span>Add description</span>
  </button>
  <mat-form-field appearance="fill" class="full-width" *ngIf="description">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.taskDescription" class="dialog-input"></textarea>
    <button *ngIf="data.taskDescription" matSuffix mat-icon-button aria-label="Clear" (click)="data.taskDescription=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions class="just-around">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.taskName" cdkFocusInitial (click)="onAddTask()">Ok</button>
</div>