.icon-custom {
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-custom:hover {
  transform: translateY(-2px);
  font-weight: bold;
  color: #fff;
  background-color: rgb(51, 51, 51);
}