/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #6bb9f4;
  background-image: linear-gradient(155deg, #6bb9f4 10%, #837edb 90%);
}

ul {
  list-style: none;
}
.mat-form-field-flex {
  display: inline-flex !important;
  align-items: start !important;
}

// Global card styles
.wrap-card {
  background-color: #cccccc;
  background-image: linear-gradient(160deg, #f4fffa 15%, #d5dbff 90%);

  border-radius: 2%;
  padding: 0.5rem;
  padding-bottom: 0;
  border-radius: 4px;
  box-shadow: 1px 1px 13px #6a7274;

  h2 {
    line-height: 2.5rem;
    font-size: 1.8rem;
    margin-left: 1rem;
  }

  ul {
    min-height: 26px;

    li {
      padding: 0;
      font-size: 15px;
      line-height: 2;
      p {
        line-height: 1.2;
      }
    }
    li:hover, li:active, li:focus {
      box-shadow: 
        0px 9px 8px -11px #9e9e9e,
        0px -9px 8px -11px #9e9e9e;
      z-index: 1; 

      h4 {
        font-weight: 500;
      }
    }
    li:last-child:hover {
      box-shadow: 
        0 0 0 0 #9e9e9e,
        0px -9px 8px -11px #9e9e9e;
    }
    li:first-child:hover {
      box-shadow: 
        0px 9px 8px -11px #9e9e9e,
        0 0 0 0 #9e9e9e;
    }
  }
}

.card-foot {
  display: inline-block;
  margin: 0.5rem;

  &-add {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    padding: 2px 3px;
    background-color: #f5f5f5;
    border-radius: 4px;
    transition: all .3s ease;
  }

  &-add:hover {
    background-color: #0d8d7b;
    color: #FFF;
  }

  p {
    margin: 0;
    display: inline-block;
    margin-right: 4px;
  }
}

.card-foot:hover {
  cursor: pointer;
}

// DRAG ITEM BACKGROUND ON EMPTY SPACE
.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
  font-size: 15px;
  font-weight: 500;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  line-height: 2 !important;
  justify-content: start !important;
}


.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 42px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
